.task-page {
  width: 82%;
  box-sizing: border-box;
  background: rgba(46, 105, 88, 0.99);
  &__container {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
