.task-page {
  width: 90%;
  box-sizing: border-box;
  background-color: rgba(46, 105, 88, 0.99);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__burger {
    position: absolute;
    padding: 10px 15px 0 15px;
    box-sizing: border-box;
    top: 0;

    &_hidden {
      display: none;
    }

  }
  &__container {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 950px){
  .task-page {
    &_active {
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px){
  .task-page {
    &_active {
      width: 100%;
    }
    &_hidden {
      display: none;
    }
  }
}