
.task {

  box-sizing: border-box;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;

  padding: 15px 10px;
  display: flex;
  margin-bottom: 8px;

  &_active {
    background-color: rgba(211, 211, 211, 0.61);
  }

  &__title {
    word-break: break-word;
    margin: 0;
  }


  &__info {
    width: 95%;
    display: flex;
    flex-direction: column;

  }

  &__check {
    width: 40px;
    height: 40px;
  }

  &__checkbox {
    height: 25px;
    width: 25px;
    border-radius: 50em;
    border: 1px solid #508485;
    margin-right: 10px;

    &_completed {
      background-color: #508485;
      background-image: url("../../../../img/task-list/checked.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

  }

  p {
    margin: 0;
  }

  &_input {
    overflow-x: scroll;
    width: 80px;
    border: none;
    outline: none;
  }

}