.task-page {
  &_empty {
    background-color: rgba(46, 105, 88, 0.99);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    &_none {
      display: none;
    }
    &__title {
      width: 50%;
      color: #F2f2f2;
      font-size: 25px;
      line-height: 2;
    }
  }


}