

.task-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  flex-grow: 1;



  &__container {

    width: 100%;
    border-radius: 5px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar { /* chrome based */
      width: 0;
      background: transparent;  /* опционально */
    }

    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
    &_active {

    }
  }

  &__title {

    &_active {
      display: flex;
      align-items: center;
      &_text {
        outline: none;
        border: none;
        font-size: 24px;
        color: #FFFFFF;
        background-color: inherit;
      }
      &_button {
        border-radius: 5px;
        background-color: cadetblue;
        color: #FFFFFF;
        padding: 15px;
        border: none;
        margin-left: 10px;
      }
    }
  }

  &__name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & h3 {
      margin: 0;
    }
    padding: 20px 0;
    color: #FFF;
    font-size: 25px;
  }

  &__add {
    box-sizing: border-box;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_start {
      width: 90%;
      display: flex;
      align-items: center;
      &_active {
        width: 65%;
      }
    }
    &_calendar {
      height: 30px;
      width: 30px;
    }
  }
  &_input {
    overflow-x: scroll;
    width: 100%;
    border: none;
    outline: none;
  }

}


@media screen and (max-width: 600px) {
  .task-list {
    &_active {
      display: none;
    }
  }
}